@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poller One', serif;
    background-image: url('./images/sky.jpg');
    color: #eedb00;
    background-attachment: fixed;
}

header {
    background-color: rgba(60, 69, 67, .6);
    border-radius: 15px 15px 0 0;
}

nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
    position: fixed;
    top: 5px;
    left: 40px;
}

li, h1 {
    text-align: center;
}

h1 {
    font-size: 2.2em;
}

.left {
    float: left;
    width: 25%;
}

.right {
    float: right;
    width: 50%;
    border: 1px solid #eedb00;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 {
    width: 100%;
    text-align: center;
}

.right > img {
    width: 32%;
}

.left > img {
    width: 100%;
}